body{
	background-image: url(Assets/fire_background.jpg);
	background-size: cover;
	background-repeat: repeat;
}

.jumbotron{
	margin-top: 80px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 30px;
	background-color: rgba(226,88,34,0.1);
}

.box-content{
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
}

.card{
	width: 22rem;
	height: 25rem;
	background-color: rgb(147,55,19);
}

.carousel{
	height: 25rem;
}

.carousel-item{
	height: auto;
}

#bio{
	padding-top: 10px;
}

td, th, p, h1{
	color: white;
}