body{
	background-color: #F0F8FF;
	background-image: url(assets/background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.container-fluid{
	align-items: center;
	justify-content: center;
	display: flex;
	
}
